{% extends "base.html" %}
{% block title %}
  posts
{% endblock title %}
{% block content %}
<div class="ui grid">
    <div class="row">
        <div class="eleven wide column">
            {% for post in all %}
            <div class="author mb-5">
                author : {{post.author}}
            </div>
            <div class="title mb-5">
                title : {{post.title}}
            </div>
            <div class="content mb-5">
                content : {{post.content}}
            </div>
            {% endfor %}
        </div>
        <div class="five wide column">
            <div class="ui form">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit">post</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}